# fly.toml file generated for samantha-nlp-processor

app = "samantha-nlp-processor"
primary_region = "gru"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024

[env]
  DATABASE_URL = "sqlite:////app/data/samantha_users.db"

[mounts]
  source="nlp_data"
  destination="/app/data"
